body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: fixed;
}
